
snippet program "AdaBots program" b
with Adabots;

procedure `!v vim_snippets#Filename()` is
   bot : constant Adabots.Turtle := Adabots.Create_Turtle;
begin$1
end `!v vim_snippets#Filename()`;
endsnippet
